- name: dexi-test-v1
  file: build/output.lua
  prerun: reset-modules.lua
  scheduler: _GQ33BkPtZrqxA84vM8Zk-N2aO0toNNu_C-l-rawrBA
  module: GYrbbe0VbHim_7Hi6zrOpHQXrSQz07XNtwCnfbFo2I0
  tags:
    - name: Process-Type
      value: Dexi-Aggregator-Test
    - name: Operator
      value: <your-dev-wallet>